* { 
  font-family: sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Notes {
  height: 80vh;
}

.AppActions {
  height: 20vh;
}

.NoteList {
  list-style: none;
}

.NoteItem {
  height: 4em;
}

.NoteItemActions {

  cursor: pointer;
  
  > * {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    color: gray;
    font-size: 0.7rem;
    margin: 0 0.3em;
  }

  button {
    color: #222;
  }
}